.container {
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.about-img {
  float: left;
  margin-right: 10px;
}

.icons {
  padding: 0px 10px 0px 10px;
}
